html { font-family: Fantasy; background: #EEEE63; padding: 1rem; }
body{ max-width: 960px; font:15px/1.5 Arial, Helvetica,monospace; 	padding: 0px; 	margin: 0 auto; background-color: #a079d4; }

header{ background:#333333 ;height:50px; width:100%; }

form { text-align:center;  }
#brandname{ font-size:40px;	font-weight: bold;text-align:center; 	color: #3DD7CF;}
 
 
 
p.copyright { text-align:center;;font-weight: bold;  color: #403DD7; width: 100%;line-height: 40px; bottom:0;text-align: center;  font-size: 0.7em;}  
footer.footer {position: relative; height:40px; width: 100%;background-color: #EE63B1;}
 
